.ant-menu-item-selected {
  background-color: #ec9509e7 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.ant-spin-dot-holder{
  color:#ec9509e7 !important; 
}